<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/CoolNetBlog.styles.css" asp-append-version="true" />*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>

    </style>
</head>
<body>
    <div class="alert alert-primary" role="alert">
        <a asp-controller="Home" asp-action="Index">
            我的站点发生了我未经处理过的服务端异常。这条信息对您来说是无关紧要的，您可以点击任意文字返回主页，随您意。
        </a>
    </div>
</body>
</html>
