@model SiteSettingViewModel
<div asp-validation-summary="All" class="text-danger">
</div>

<form method="post">
        <div class="form-group">
            <input asp-for="PassToken" type="hidden" value="@Model.PassToken" class="form-control">
        </div>
        <div class="form-group row">
        <label asp-for="SiteName" class="col-sm-2 col-form-label">站点名</label>
        <div class="col-sm-10">
            <input asp-for="SiteName"  type="text" class="form-control">
        </div>
        </div>
        <div class="form-group row">
        <label asp-for="Host" class="col-sm-2 col-form-label">站点IP</label>
        <div class="col-sm-10">
            <input asp-for="Host" type="text" class="form-control">
        </div>
        </div>
        <div class="form-group row">
        <label asp-for="Domain" class="col-sm-2 col-form-label">站点域名</label>
        <div class="col-sm-10">
            <input asp-for="Domain" type="text" class="form-control">
        </div>
        </div>

        <div class="form-group row">
        <label asp-for="FashionQuotes" class="col-sm-2 col-form-label">个性签名</label>
        <div class="col-sm-10">
            <input asp-for="FashionQuotes" type="text" class="form-control">
        </div>
        </div>

        <div class="form-group row">
        <label asp-for="Cban" class="col-sm-2 col-form-label">备案号(不为空将会在尾部显示备案号)</label>
        <div class="col-sm-10">
            <input asp-for="Cban" type="text" class="form-control">
        </div>
        </div>

        <div class="form-group row">
        <label asp-for="TailContent" class="col-sm-2 col-form-label">站点尾部文字内容(可填充html元素)</label>
        <div class="col-sm-10">
            <input asp-for="TailContent" type="text" class="form-control">
        </div>
        </div>

        <div class="form-group row">
        <label asp-for="OnePageCount" class="col-sm-2 col-form-label">主页列表展示文章的条数</label>
        <div class="col-sm-10">
            <input asp-for="OnePageCount" type="number" class="form-control">
        </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">是否显示站点名</div>
            <div class="col-sm-10">
                <div class="form-check">
                <input asp-for="IsShowSiteName"  class="form-check-input" type="checkbox">
                <label asp-for="IsShowSiteName" class="form-check-label">网站前部是否显示站点名</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">是否显示个性签名</div>
            <div class="col-sm-10">
                <div class="form-check">
                <input asp-for="IsShowQutoes"  class="form-check-input" type="checkbox">
                <label asp-for="IsShowQutoes" class="form-check-label" for="gridCheck1">网址前部是否显示个性签名</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">是否开启点赞表态功能</div>
            <div class="col-sm-10">
                <div class="form-check">
                <input asp-for="IsOpenDetailThumb"  class="form-check-input" type="checkbox">
                <label asp-for="IsOpenDetailThumb" class="form-check-label">文章主体允许点赞表态</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">是否侧边栏也显示搜索框组件</div>
            <div class="col-sm-10">
                <div class="form-check">
                <input asp-for="IsShowEdgeSearch"  class="form-check-input" type="checkbox">
                <label asp-for="IsShowEdgeSearch" class="form-check-label" for="gridCheck1">侧边栏显示搜索框组件</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">是否显示链接显示(侧边栏"看看这些")组件</div>
            <div class="col-sm-10">
                <div class="form-check">
                <input asp-for="IsShowLoveLook"  class="form-check-input" type="checkbox">
                <label asp-for="IsShowLoveLook" class="form-check-label" for="gridCheck1">"看看这些"就是自定义链接，进入[链接显示]管理想要显示的链接</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="LoveLookTitle" class="col-sm-2 col-form-label">链接显示("侧边栏-看看这些")自定义标题文本</label>
            <div class="col-sm-10">
                <input asp-for="LoveLookTitle" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">是否显示侧边栏"心愿图片"组件</div>
            <div class="col-sm-10">
                <div class="form-check">
                <input asp-for="IsShowWishPicture"  class="form-check-input" type="checkbox">
                <label asp-for="IsShowWishPicture" class="form-check-label" for="gridCheck1">可以在侧边栏显示"心愿图片"并自定义祝福语，[文件图片]板块中设置心愿图片</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="WishPictureName" class="col-sm-2 col-form-label">侧边栏"心愿图片"自定义标题祝福语</label>
            <div class="col-sm-10">
                <input asp-for="WishPictureName" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="WishPictureRelPath" class="col-sm-2 col-form-label">侧边栏"心愿图片"展示的图片路径 前往[文件图片]板块中设置</label>
            <div class="col-sm-10">
                <input readonly asp-for="WishPictureRelPath" type="text" class="form-control">
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="LoginUriValue" class="col-sm-2 col-form-label">设置后台登录界面Value参数的值</label>
            <p>
                设置后台登录界面Value参数的值，保证默认后台界面不会被暴露。若设置了值，您必须以特定网址访问，如(忽略单引号)：'你的网址/admin/login?v=你此处设置的值'。此项设置不是必须的，若你设置，确保不遗忘设置的值。
            </p>
            <div class="col-sm-10">
                <input asp-for="LoginUriValue" type="text" class="form-control" placeholder="设置参数的密钥值，建议大于6位数">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button asp-action="EditSiteSetting" asp-controller="AdminSiteSetting" type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
</form>