@model PassBaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台-光之使者</title>
    @*<link rel="stylesheet" href="~/CoolNetBlog.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/com.js" asp-append-version="true"></script>
    <!-- bootstrap 5.1.0 local-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery 3.5.1 local-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- UIkit 3.10.1 local-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit-icons.min.js"></script>

    @*<script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
        var vConsole = new window.VConsole();
    </script>*@

    @await RenderSectionAsync("Scripts", required: false)
    <style>

    </style>
</head>
<body>
    <div class="text-center">
        <figure class="text-center">
            <h4>后台管理员 ~喵咪呼啦~</h4>
          <figcaption class="blockquote-footer">
              <cite title="CoolNetBlog">CoolNetBlog</cite> 萌●'◡'●力驱动，简洁、高效、洒脱。
          </figcaption>
        </figure>
        @{
            //若是在登陆界面，不具有PassToken，此样式不会显示。否则后台主页具有token，因为验证通过了
            if (!String.IsNullOrWhiteSpace(@Model?.PassToken))
            {
                <div>
                <h3 >大侠你好, <mark>@Model?.AccountName</mark></h3>
                </div>
            }
        }
        @if (!string.IsNullOrWhiteSpace(@Model?.PassToken))
        {
            // 登录页没有PassToken 成功登陆后才有 不显示"返回后台面板"
            <div class="btn-group" role="group" aria-label="Second group">
                <a class="btn btn-outline-primary text text-secondary"  asp-route-pt="@Model?.PassToken" asp-action="AdminHome" asp-controller="Admin">面板</a>
                <a class="btn btn-outline-primary text text-secondary" target="_blank" asp-action="Index" asp-controller="Home">站点</a>
                <a class="btn btn-outline-primary text text-secondary" asp-route-pt="@Model?.PassToken" asp-action="LoginOut" asp-controller="Admin">登出</a>
            </div>
        }
    </div>
    <br>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">@@MyHeartWillGoOn 🐱后台猫の尾巴</div>
    </footer>
</body>
</html>
